name: test
on: push

jobs:
  test:
    name: test
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - run: brew style Casks/*.rb
    - run: brew style Formula/*.rb
    - run: |
        for i in Casks/*.rb; do
          echo "===${i}==="
          brew install --HEAD "${{ github.repository }}/$(basename ${i%.rb})"
        done
    - run: |
        for i in Formula/*.rb; do
          echo "===${i}==="
          brew install --HEAD "${{ github.repository }}/$(basename ${i%.rb})"
        done
