name: test
on: push

# ref: https://github.com/Songmu/homebrew-tap/blob/main/.github/workflows/test.yml
# ref: https://github.com/graalvm/homebrew-tap/blob/master/.github/workflows/main.yml

jobs:
  test:
    name: test
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - run: brew style Casks/*.rb
    - run: brew style Formula/*.rb
    - run: |
        for i in Casks/*.rb; do
          echo "===${i}==="
          brew install --HEAD "${{ github.repository }}/$(basename ${i%.rb})" --cask
        done
    - run: |
        for i in Formula/*.rb; do
          echo "===${i}==="
          brew install --HEAD "${{ github.repository }}/$(basename ${i%.rb})"
        done
